# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/dhorse-api/.classpath
/dhorse-api/.project
/dhorse-api/.settings
/dhorse-api/target
/dhorse-application/.classpath
/dhorse-application/.project
/dhorse-application/.settings
/dhorse-application/target
/dhorse-infrastructure/.classpath
/dhorse-infrastructure/.project
/dhorse-infrastructure/.settings
/dhorse-infrastructure/target
/dhorse-rest/.classpath
/dhorse-rest/.project
/dhorse-rest/.settings
/dhorse-rest/target
/dhorse-web/.classpath
/dhorse-web/.project
/dhorse-web/.settings
/dhorse-web/target
/dhorse-script/.classpath
/dhorse-script/.project
/dhorse-script/.settings
/dhorse-script/target
/target
/data
/log
/dhorse-agent/.classpath
/dhorse-agent/.project
/dhorse-agent/.settings
/dhorse-agent/target
